
body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}
.container {
  margin-top: 50px;
}
input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}
button {
  background: #e60073;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px red;
}
.card {
  background: #222;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px #e60073;
}
video {
  width: 80%;
  margin-top: 10px;
}
.whatsapp-link {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: #25D366;
  text-decoration: none;
}
.whatsapp-link img {
  width: 30px;
  vertical-align: middle;
}
